:root {
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-gray: #999;
  --primary-dark-grey: #666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52,58,64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black:#000;
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-green: rgb(0,255,0);
}

/* Navbar starts */

.logo {
  width: 14rem;
  /* 1rem=16px */
}
nav a.nav-link {
  color:var(--primary-white) !important;
  letter-spacing: 0.125rem;
  font-size: 1.2rem;
  margin: 0 0.75rem;
  text-transform: uppercase;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  display: inline-block;
  border-top: 0.1875rem solid var(--primary-orange);
  padding-top: 5px;
}

/* Header starts */

.header-wrapper {
  background: url('./img/bg-image.jpg') center ;
  background-size: cover;
  height: 100vh;
  position: relative;
  /* ? */
}
.main-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-info h1 {
  font-size: 2rem;
  margin-bottom: 25px;
  color: var(--primary-orange);
  min-width: 18.75rem;
}
.typed-text {
  font-size: 1.2rem;
  color: var(--primary-white);
}
.downloadCV {
  display: inline-block;
  border: 1px solid var(--primary-red);
  padding: 0.625rem;
  color: var(--primary-white);
  margin: 4rem 2rem;
  transition: all .5s ease;
  border-radius: 5px;
}
.downloadCV:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  border: 1px solid var(--primary-white);
  color: var(--primary-white);
}
.navbar-toggler:focus {
  outline: none !important;
}


/* AboutMe starts */

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  outline: 2px solid var(--primary-orange);
  outline-offset: 5px;
  object-fit: cover;
}
.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
  text-align: center;

}
.about-text {
  text-align: justify;
  text-indent: 1.9rem;
}


/* Services start */

.service-background {
  background-color: var(--primary-gray);
}
.services {
  justify-content: center;
}
.service-title {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.service-item {
  flex: 0 0 auto;
  width: 75%;
  margin-bottom: 3rem;
  padding-left: .75rem;
  padding-right: .75rem;
}
.kard {
  transform-style: preserve-3d;
  position: relative;
  height: 25rem;
  perspective: 62.5rem;
}
.kard:hover .kard-front {
  transform: rotateY(-180deg);
}
.kard:hover .kard-back {
  transform: rotateY(0deg);
}
.kard-front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 5s ease;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid var(--primary-orange);
  background: var(--primary-white);
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.kard-front i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  color: var(--primary-white);
  background: var(--primary-orange);
  font-size: 1.5rem;
  margin: .5rem 0 1.5rem;
}
.kard-front h5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.kard-front p {
  text-align: justify;
}
.kard-back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 5s ease;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid var(--primary-orange);
  background: var(--primary-white);
}
.kard-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* Experience starts */

.experience {
  margin: 3rem auto .5rem;
  overflow: hidden;
}
.experience-title {
  text-transform: uppercase;
  color: var(--primary-orange);
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
}
.experience-item {
  justify-content: center;
}
h3 {
  color: var(--primary-red);
}
.line {
  position: relative;
}
.line::before {
  content: '';
  position: absolute;
  top: -40px;
  left: -1.5px;
  width: 1px;
  height: 2000px;
  background-color: var(--primary-grey);
}
.circle-left {
  display: none;
}
.circle-right {
  position: relative;
  display: block;
  flex: 0 0 auto;
  width: 83.33333333%;
}
.circle-right::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -9.5px;
  width: 7px;
  height: 7px;
  border: 5px solid var(--primary-black);
  background-color: var(--primary-orange);
  border-radius: 50%;
  z-index: 2;
  box-sizing: content-box;
}
.experience-content {
  flex: 0 0 auto;
  width: 83.33333333%;
  padding: 0 0 1.5rem 1.5rem;
}





/* ContactMe starts */

.contact {
  background: var(--primary-dark);
  padding: 3rem 0;
}
.contact-title {
  color: var(--primary-orange);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.contact-text {
  color: var(--primary-white);
  text-align: center;
  margin-bottom: 3rem;
}
.jc-center {
  justify-content: center;

}
input[type=submit] {
  width: 100%;
  background: transparent;
  border: 2px solid var(--primary-red);
  padding: .5rem 0;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: var(--primary-red);
  transition: all .3s ease;
}
input[type=submit]:hover {
  background: var(--primary-red);
  color: var(--primary-white);
}
.input-data{
  position: relative;
  height: 3.75rem;
  width: 100%;
  margin-bottom: .5rem;
}
.textarea-data {
  position: relative;
  height: 16.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.input-data > input,
.textarea-data > textarea
{
  height: 100%;
  width: 100%;
  background: transparent;
  color: var(--primary-black);
  border: none;
  border-bottom: 1px solid var(--primary-grey);
  outline: none;
  caret-color: var(--primary-red);
  /* caret-color-  inputa klik edende gorsenen kursorun rengini teyin edir */
}
.input-data > .underline,
.textarea-data > .underline 
{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%; 
}
.input-data > .underline::before,
.textarea-data > .underline::before
{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--primary-orange);
  transform: scaleX(0);
  transform-origin: center;
  transition: all .4s ease;
}
input:focus ~ .underline::before,
textarea:focus ~ .underline::before
{
  transform: scaleX(1);
}
textarea {
  resize: none !important;
}






/* Breakpoints */

@media (min-width: 576px) {
  .typed-text {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .service-item {
    flex: 0 0 auto;
    width: 50%;
  }
  
}

@media (min-width: 992px) {
  /* Header starts */

  .main-info h1 {
    font-size: 2.5rem;
  }
  .typed-text {
    font-size: 2.1rem;
  }
  .downloadCV {
    margin: 4rem;
    font-size: 1rem;
  }

  /* AboutMe starts */

  .about-heading {
    text-align: left;
  }

  /* Services start */

  .service-background {
    padding-bottom: 3rem;
  }
  .service-title {
    font-size: 3.125rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .kard-front {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .kard-front h5 {
    font-size: 1.5rem;
  }
  .kard-front p {
    font-size: 1.125rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }  

  /* Experience starts */

  .circle-left,
  .circle-lg-right
  {
    position: relative;
    display: block;
    flex: 0 0 auto;
    width: 50%;
  }
  .circle-left::before {
    content: '';
    position: absolute;
    top: 5px;
    right: -7.5px;
    width: 7px;
    height: 7px;
    border: 5px solid var(--primary-black);
    background-color: var(--primary-orange);
    border-radius: 50%;
    z-index: 2;
    box-sizing: content-box;
  }
  .circle-lg-right::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -9.5px;
    width: 7px;
    height: 7px;
    border: 5px solid var(--primary-black);
    background-color: var(--primary-orange);
    border-radius: 50%;
    z-index: 2;
    box-sizing: content-box;
  }
  .circle-right {
    display: none;
  }
  .experience-content {
    flex: 0 0 auto;
    width: 50%;
  }


    /* ContactMe starts */
  
    .contact-title {
      font-size: 2rem;
    }
    .contact-text {
      font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
  .service-item {
    flex: 0 0 auto;
    width: 25%;
    margin-bottom: 0;
  }
}

@media (min-width: 1400px) {
  
}










