
:root {
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52,58,64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black:#000;
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-green: rgb(0,255,0);
}
.logo {
  width: 14rem;
  /* 1rem=16px */
}
nav a.nav-link {
  color:var(--primary-white) !important;
  letter-spacing: 0.125rem;
  font-size: 1.2rem;
  margin: 0 0.75rem;
  text-transform: uppercase;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  display: inline-block;
  border-top: 0.1875rem solid var(--primary-orange);
  padding-top: 5px;
}

/* Header starts */

.header-wrapper {
  background: url('./img/bg-image.jpg') center ;
  background-size: cover;
  height: 100vh;
  position: relative;
  /* ? */
}
.main-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-info h1 {
  font-size: 2rem;
  margin-bottom: 25px;
  color: var(--primary-orange);
}
.typed-text {
  font-size: 1.8rem;
  color: var(--primary-white);
}
.downloadCV {
  display: inline-block;
  border: 1px solid var(--primary-red);
  padding: 0.625rem;
  color: var(--primary-white);
  margin: 4rem 2rem;
  transition: all .5s ease;
  border-radius: 5px;
}
.downloadCV:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  border: 1px solid var(--primary-white);
  color: var(--primary-white);
}
.navbar-toggler:focus {
  outline: none !important;
}


/* AboutMe */

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  outline: 2px solid var(--primary-orange);
  outline-offset: 5px;
  object-fit: cover;
}
.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
  text-align: center;

}
.about-text {
  text-align: justify;
  text-indent: 1.9rem;
}





/* Breakpoints */

@media (min-width: 576px) {
  .main-info h1 {
    font-size: 2rem;
  }
  .typed-text {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  .main-info h1 {
    font-size: 2.5rem;
  }
  .typed-text {
    font-size: 2.1rem;
  }
  .downloadCV {
    margin: 4rem;
    font-size: 1rem;
  }
  .about-heading {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1400px) {
  
}










